/* Mobile Nav */

body.mobileOpen {
  overflow: hidden;
}

#mobileNavBtn {
  border: none;

  .text {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 1em;
    margin-bottom: 5px;
    color: #222;
  }
  .icon-bar {
    width: 100%;
    background: #222;
  }
  @include mixResponsive($m) {
    margin-right: 0;
  }
}

.admin-bar #mobileNav {
  top: 32px;
  &.collapsing {
    top: 32px;
  }
}

#mobileNav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  min-height: 100%;
  max-height: none;
  left: 100%;
  width: 100%;
  display: none !important;
  margin: 0 !important;
  transition: all 0.35s ease-in-out;
  z-index: 99999;
  font-weight: bold;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
  &.collapsing {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    max-height: none;
    left: 100%;
    width: 100%;
    display: block !important;
    margin: 0 !important;
    transform: translate3d(0,0,0);
    transition: all 0.35s ease-in-out;
    z-index: 99999;
    font-weight: bold;
  }
  li {
    margin: 0;
  }
  &.in {
    left: 0%;
  }
  .nav {
    overflow: hidden;
    padding: 0;

    > ul {
      margin: 0;
      padding: 0;
    }
  }
  .dropdown-toggle {
    float: none;
  }
  .navbar-toggle {
    border: none;
    background: none;
    top: 0;
    margin: 0;
    padding: 15px 15px 0 0;
    .text {
      color: #222;
      font-weight: 600;
      font-size: 12px;
      display: block;
    }
    .icon-bar {
      background: #222 !important;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      margin: 12px 0 0;
      height: 2px;
      width: 35px;
      + .icon-bar {
        margin: -3px 0 5px;
        background: #222;
        transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
  .navbar-nav {
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
  }
  li {
    display: block;
    float: none;
    position: static;
    ~ li:before {
      display: none;
    }
    a {
      .caret {
        display: none;
      }
      color: #222;
      display: block;
      text-decoration: none;
      font-size: 24px;
      line-height: 1em;
      padding: 15px 30px;
      white-space: inherit;
      &:hover, &:focus, &:active {
        background: none;
      }
    }
    &.open > a {
      background: none;
    }
    &.page_item_has_children, &.menu-item-has-children {
      a {
        height: auto;
      }
      &.open {
        .children, .sub-menu {
          left: 0;
        }
      }
    }
  }
  .children, .sub-menu {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100%;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 1;
  }
  a.navBack {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 30px;
    color: #222;
    opacity: 0;
    pointer-events: none;
    text-decoration: none;
    .glyphicon-circle-arrow-left {
      display: inline-block;
      margin: 0 6px 0 0;
      position: relative;
      top: 2px;
    }
  }
  &.showBack a.navBack {
    opacity: 1;
    pointer-events: auto;
  }
  @media (max-width: $grid-float-breakpoint) {
    display: block !important;
  }
}
.primary-white {
  #mobileNavBtn .text {
    color: #fff;
  }
  #mobileNavBtn .icon-bar {
    background: #fff;
  }
}
.secondary-white {
  #mobileNav .navbar-toggle .text, #mobileNav li a, #mobileNav a.navBack {
    color: #fff;
  }
  #mobileNav .navbar-toggle .icon-bar, #mobileNav .navbar-toggle .icon-bar + .icon-bar {
    background: #fff !important;
  }
}
@media (max-width: 480px) {
  #mobileNav {
    li a {
      padding: 10px 15px;
      font-size: 20px;
    }
    a.navBack {
      padding: 20px 15px 10px;
    }
  }
}
