// Move Site
#siteHeader, .pgMiddle, #siteFooter, #mobileOverlay {
  @include mixResponsive($sm-down) {
    transform: translate(0, 0);
    transition: transform 0.75s ease-in-out;
    position: relative;
    z-index: 1;
  }
}
body {
  position: relative;
}
.mobileOpen {

  #mobileOverlay {
    display: block;
  }
  #siteHeader, .pgMiddle, #siteFooter, #mobileOverlay {
    transform: translate(-70%,0);
  }
  #mobileOverlay {
    pointer-events: auto;
  }
}

// Logged in
.admin-bar #mobileNav {
  top: 32px;
}

// Overlay
#mobileOverlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transform: translate(0, 0);
  transition: transform 0.75s ease-in-out;
  pointer-events: none;
}

// Style Menu
#mobileNav {
  position: fixed;
  display: block;
  width: 70%;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: auto !important;

  ul {
    float: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;

    li {
      float: none;
      display: block;
      padding: 0;
      margin: 0;

      a {
        position: relative;
        display: block;
        font-size: 20px;
        line-height: 1.1em;
        padding: 15px 50px 15px 20px;
        color: #fff;
        background: none;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }
      &.menu-item-has-children > a {
        background: rgba(0,0,0,0);
        transition: background 0.35s ease-in-out;

        &:before {
          content: '';
          position: absolute;
          display: block;
          top: calc(50% - 12px);
          right: 15px;
          width: 17px;
          height: 17px;
          border-right: 3px solid #fff;
          border-bottom: 3px solid #fff;
          transform: translate(0,0) rotate(45deg);
          transition: transform 0.35s ease-in-out;
          transform-origin: 50% 50%;
        }
        &.open {
          background: rgba(0,0,0,0.2);

          &:before {
            transform: translate(0,7px) rotate(-135deg);
          }
        }
      }
    }
  }

  // Sub Menu
  .sub-menu {
    background: rgba(0,0,0,0.2);
    display: none;

    li a {
      padding-left: 40px;
      text-decoration: none;
    }
  }
}
