// Alternating Blocks
.mAlt {
  padding: 90px 0 80px;

  > div > h3 {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 15px;
  }
  article {
    margin: 0 -5px 10px;

    &:nth-child(even) > div {
      float: right;
    }
  }
  @include mixResponsive($xs-down) {
    padding: 30px 0;

    > div > h3 {
      margin-bottom: 15px;
    }
    article {
      margin: 0 10px 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.mAltImg {
  padding: 0 5px;

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 5px;
    background: #eee no-repeat center center / cover;
  }
  @include mixResponsive($xs-down) {
    display: none;
  }
}
.mAltCnt {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1.5em;

  div {
    position: relative;
    padding: 35px 45px 45px;
    min-height: 440px;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0);
      @extend .transition;
    }
    &:hover {
      &:before {
        background: rgba(0,0,0,0.1);
      }
      .link {
        max-width: 100%;
        padding-right: 41px;
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  h3 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 1.2em;

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 3px;
      width: 115px;
      left: 0;
      bottom: 0;
      background: #111;
    }
  }
  p {
    position: relative;
  }
  .link {
    margin: 0;
    display: inline-block;
    padding-right: 36px;
    text-decoration: underline;
    max-width: calc(100% - 5px);
    @extend .transition;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      margin-top: -13px;
      width: 27px;
      height: 27px;
      border: 2px solid #111;
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 10px;
      width: 10px;
      height: 10px;
      margin-top: -4px;
      border-right: 2px solid #111;
      border-bottom: 2px solid #111;
      transform: rotate(-45deg);
    }
  }
  @include mixResponsive($xs-down) {
    height: auto !important;
    width: 100%;

    div {
      min-height: 0;
    }
  }
  @include mixResponsive($m) {
    div {
      padding: 25px 30px 35px;
    }
  }
}
.primary-white .mAltCnt {
  h3:after {
    background: #fff;
  }
  .link {
    &:before, &:after {
      border-color: #fff;
    }
  }
  div {
    &:hover {
      &:before {
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
