.mCar {
  position: relative;
  padding: 80px 0 90px;

  h3 {
    text-align: center;
    margin: 0 0 30px;
  }
  &.hasBGColor h3 {
    color: #fff;
  }
  .owl-stage {
    padding-top: 61px;
  }
  .owl-item {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

    &:not(.active) {
      opacity: 0.45;
    }
  }

  .item {
    h4 {
      font-size: 30px;
      line-height: 1.2em;
    }
    p {
      font-size: 20px;
      line-height: 1.5em;
    }
  }

  // Circle Style
  .circle {
    > span {
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      width: 66px;
      height: 60px;
      margin-left: -33px;
      background: #fff;
      border-radius: 33px 33px 0 0;
      @extend .transition;

      span {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -8px;
        height: 16px;
        width: 16px;
        border-right: 3px solid;
        border-bottom: 3px solid;
        transform: rotate(45deg);
      }
    }
    .hpcImage {
      position: relative;
      background: center center no-repeat;
      background-size: cover;
      display: block;
      width: 100%;
      padding-top: 100%;
      border-radius: 50%;
      overflow: hidden;

      > span {
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        width: 66px;
        height: 60px;
        margin-left: -33px;
        background: #fff;
        border-radius: 33px 33px 0 0;
        @extend .transition;

        span {
          position: absolute;
          display: block;
          top: 50%;
          left: 50%;
          margin: -1px 0 0 -10px;
          height: 2px;
          width: 20px;

          &:before {
            content: '';
            position: absolute;
            display: block;
            top: -9px;
            left: 9px;
            height: 20px;
            width: 2px;
            background: inherit;
          }
        }
      }
    }
    h4 {
      text-align: center;
      margin: 15px 0 0;
      padding-bottom: 2px;
    }
    .hpcContent {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      border-radius: 5px;
      padding: 25px 25px 100px;
      border-bottom: 3px solid #aaa;
      opacity: 0;
      transition: all 0.6s ease-in-out;
      transform: scale(1, 0);
      transform-origin: 0 0;

      h5 {
        text-align: center;
        font-size: 30px;
        line-height: 1.2em;
        margin: 0 0 15px;
      }
      button {
        position: absolute;
        display: block;
        height: 55px;
        bottom: 25px;
        left: 25px;
        right: 25px;
        width: calc(100% - 50px);
      }
    }
    > a {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    &:hover {
      > span {
        top: -60px;
      }
      .hpcImage > span {
        bottom: -65px;
      }
      .hpcContent {
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }

  // Cards
  .card {
    position: relative;

    .hpcImage {
      display: block;
      width: 100%;
      padding-top: 63%;
      background: center center no-repeat;
      background-size: cover;
    }
    .hpcContent {
      position: relative;
      background: #fff;
      padding: 30px 30px 80px;
      text-align: center;

      p {
        margin: 0;
      }
      .btn-content {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        overflow: hidden;
      }
    }
    a {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  // Navigation
  .owl-nav {
    background: inherit;

    > div {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      background: inherit;
      height: 110px;
      width: 100px;
      margin-top: -55px;
      overflow: hidden;
      text-indent: -100px;
      font-size: 0;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.35s ease-in-out;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -14px;
        height: 40px;
        width: 40px;
        border-bottom: 4px solid #fff;
        border-left: 4px solid #fff;
        transform: rotate(45deg);
      }
      &.owl-next {
        left: auto;
        right: 0;

        &:before {
          margin: -20px 0 0 -24px;
          border: none;
          border-top: 4px solid #fff;
          border-right: 4px solid #fff;
        }
      }
      &:hover {
        opacity: 1;
      }
      @include mixResponsive($sm-down) {
        height: 70px;
        width: 65px;
        margin-top: -35px;

        &:before {
          height: 30px;
          width: 30px;
          margin: -15px 0 0 -12px;
        }
        &.owl-next:before {
          margin: -15px 0 0 -19px;
        }
      }
    }
  }
  @include mixResponsive($sm-down) {
    padding: 40px 0 45px;

    > div > h3 {
      margin-bottom: 15px;
    }
    .circle {
      > span {
        top: -60px;
      }
      .hpcImage, h4 {
        display: none;
      }
      .hpcContent {
        position: relative;
        opacity: 1;
        transform: scale(1, 1);
      }
    }
  }
  @include mixResponsive($m) {
    .circle .hpcContent {
      padding: 15px 15px 70px;

      button {
        left: 15px;
        right: 15px;
        bottom: 15px;
        width: calc(100% - 30px);
      }
    }
  }
}
.hmod_car_bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: center center no-repeat;
  background-size: cover;

  + div {
    position: relative;
  }
}
