.hmod_cblocks {
  > div:not(:nth-child(1)) {
    margin-top: 10px;
  }
  > div {
    padding: 80px 0;

    @include mixResponsive($xs-down) {
      padding: 30px 0;
    }
  }
  .row {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    @include mixResponsive($xs-down) {
      width: 100%;
    }
  }
  .hmod_cblocks_image {

    div {
      display: block;
      width: 100%;
      padding-top: 100%;
      background: center center no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
    @include mixResponsive($xs-down) {
      display: none;
    }
  }
  &.content-right .hmod_cblocks_image {
    float: right;
  }
  &.content-alt > div:nth-of-type(even) .hmod_cblocks_image {
    float: right;
  }
}
:root .hmod_cblocks {
  > h3 {
    margin: 70px 0;
    text-align: center;

    @include mixResponsive($xs-down) {
      margin: 30px 0;
    }
  }
  .btn-content {
    color: #fff;
    background: rgba(0,0,0,0.3);

    &:hover {
      color: #fff;
      background: rgba(0,0,0,0.5);
    }
  }
}
