.hCircleCallouts {
  position: relative;
  background: #fff;
  padding: 90px 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1;

  > .container {
    margin-bottom: 70px;
  }
  article {
    float: none;
    display: inline-block;
    margin: 0 -3px;
    vertical-align: top;
    padding: 0 2.5%;

    .bgImg {
      width: 90%;
      padding-top: 90%;
      border-radius: 50%;
      margin: 0 auto 30px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.35s ease-in-out;
      transform: scale(1, 1);
      transform-origin: 50% 50%;
    }
    .body-copy {
      h4 {
        font-weight: 400;
      }
      p {
        text-decoration: underline;
        line-height: 1.2em;
        margin-bottom: 40px;
      }
    }
    > a {
      position: absolute;
      display: block;
      top: 0;
      bottom: 10px;
      left: 0;
      right: 0;
    }
    &:hover {
      .bgImg {
        transform: scale(1.1, 1.1);
      }
    }
    @include mixResponsive($sm-down) {
      .bgImg {
        width: 60%;
        padding-top: 60%;
      }
    }
    @include mixResponsive($xs-down) {
      max-width: 400px;
    }
  }
}
