.page-template-template-home .main .btn-content {
  white-space: normal;
}

// Content Area
.mContent {
  background: #fff;
  padding: 60px 0;

  header {
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 20px;

    > span {
      content: '';
      position: absolute;
      display: block;
      width: 200px;
      bottom: 0;
      left: 50%;
      margin-left: -100px;
      height: 3px;
    }
  }
  .moreLink {
    position: relative;
    display: inline-block;
    padding-right: 42px;
    font-size: 24px;
    text-decoration: none;

    span {
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      height: 32px;
      width: 32px;
      margin-top: -16px;
      border: 2px solid;
      border-radius: 50%;

      &:before {
        content: '';
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        top: 6px;
        left: 8px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        transform: rotate(180deg);
      }
    }
  }
  .gform_wrapper {
    max-width: 780px;
    margin: 0 auto;
  }
  &.bgAlternate {
    header {
      padding: 0;
      margin: 0;

      > span {
        display: none;
      }
    }
  }
  @include mixResponsive($xs-down) {
    padding: 30px 0;
  }
}
.alternate-white .mContent.bgAlternate {
  h1, h2 {
    color: #fff;
  }
}
