// Featured Blocks
.hFeatured {
  background: #fff;
  color: #111;
  text-align: center;
  padding-top: 10px;

  > div {
    max-width: 2000px;
    margin: 0 auto;
  }
  article {
    padding: 0 5px;
    display: inline-block;
    float: none;
    margin: 0 -3px;

    > a {
      position: absolute;
      display: block;
      top: 0;
      left: 5px;
      right: 5px;
      bottom: 0;
    }
    &:hover {
      .body-copy p {
        padding: 10px 0;
        max-height: 300px;
        opacity: 1;
      }
    }
    h4 {
      font-size: 30px;
      line-height: 1.2em;
    }
    p {
      font-size: 20px;
      line-height: 1.3em;
    }
  }
  .bgImg {
    height: 420px;
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
  }
  .body-copy {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    padding: 30px;

    > span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.8;

      ~ * {
        position: relative;
      }
    }
    h4 {
      margin: 0;
    }
    p {
      margin-bottom: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
.secondary-white .hFeatured {
  color: #fff;
}
