.mFullImg {
  margin: 0;
  padding-bottom: 6px;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
  .gbPrimary {
    display: none;

    $overMax: "(min-width:2000px)";
    @include mixResponsive($overMax) {
      display: inline;

      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
        background: inherit;
        top: 0;
        bottom: 0;
        width: 100px;
        right: calc(50% + 900px);
      }
      &:after {
        right: auto;
        left: calc(50% + 900px);
        transform: rotate(180deg);
      }
    }
  }
}
.mFullImgContent {
  background: #000;

  .coverImage {
    background: center center no-repeat;
    background-size: cover;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
  }
  .content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 30px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);

    > *:last-child {
      margin-bottom: 0;
    }
    .headMain {
      color: #fff;
      margin-bottom: 2rem;
    }
  }
}
