.mHalfIC {
  position: relative;
  border-bottom: 10px solid;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .mhicImage {
    background: center center no-repeat;
    background-size: cover;
  }
  .mhicContent {
    background: #fff;
    padding: 110px 90px;
  }
  @include mixResponsive($md) {
    .mhicContent{
      padding: 50px 40px;
    }
  }
  @include mixResponsive($sm-down) {
    .mhicImage {
      padding-top: 50%;
    }
    .mhicContent {
      max-width: 750px;
      padding: 0 15px;
      margin: 55px auto 50px;
    }
  }
  @include mixResponsive($xs-down) {
    .mhicContent {
      margin: 30px auto 25px;
    }
  }
}
