.hLife {
  .container {
    margin-top: 70px;
    margin-bottom: 70px;

    > *:last-child {
      margin-bottom: 0;
    }
    @include mixResponsive($m) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .callouts {
    padding: 0 6px;
    text-align: center;

    > div {
      float: none;
      display: inline-block;
      margin: 0 -3px;
      padding: 0 6px;
      vertical-align: top;

      @include mixResponsive($m) {
        width: 100%;
      }
    }
  }
  .item {
    position: relative;
    text-align: center;
    padding: 45px;
    margin-bottom: 12px;
    height: calc(100% - 12px);

    &[class*=bg] {
      .btn-content {
        background: rgba(0,0,0,0.3);
        color: #fff;
      }
      &:hover .btn-content {
        background: rgba(0,0,0,0.5);
      }
    }
  }
  .image {
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    background: center center no-repeat;
    background-size: cover;
  }
  a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
